# get back keys from linux::screen
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char

# get Home and End key back from linux::screen
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# ctrl+aero
"\e[1;5C": forward-word
"\e[1;5D": backward-word

# alt+aero
"\e[1;3C": end-of-line
"\e[1;3D": beginning-of-line
